*{
	margin: 0px;
	padding: 0px;
}
.header{
	background-color: blue;
	color:white;

}
 
.google,nav ul li a:link{
	/*color:green;
	background-color:pink;*/
	
}
.google,nav ul li a:visited{
	/*color:blue;*/
}

.google,nav ul li a:hover{
	
	color:green;
	background-color:yellow;
	font-size:30px;
	text-decoration:none;	
}


.container{
	width:100%;
	height:100%;
	display: flex;
	justify-content: space-around;
	border: 1px solid red;
	background-color: aquamarine;

}


.box0{
	width:300px;
	height:500px;
	border:2px solid gray;
	background-color:chartreuse;
	overflow:auto;
	box-shadow:1px 1px 2px 4px red;
	
}
.box1{
	
	width:300px;
	height:500px;
	background-color:yellow;
	border:2px solid gray;
	overflow:auto;
	box-shadow:1px 1px 2px 4px gray;

}
 

.anim{

	animation-name: cyber;
	animation-duration:.2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes cyber{
	from{
		width:0px;
		background-color:aquamarine;	
	}
	to{
		width:5px;
		background-color: red;
	}
}
.box2{
	width:300px;
	height:500px;
	background-color:cornflowerblue;
	border:2px solid yellow;
	overflow:auto;
	box-shadow:1px 1px 2px 4px green;
		
	
}
.box0:hover{
	cursor:pointer;
	transform:scale(1.1);
	transition:1s ease-in-out;
	
}
.box1:hover{
	cursor:pointer;
	transform:scale(1.1);
	transition:1s ease-in-out;
	
}
.box2:hover{
	cursor:pointer;
	transform:scale(1.1);
	transition:1s ease-in-out;
	
}

img:hover{
	cursor:pinter;
	transform:scale(1.2);
	transition:1s ease-in-out;
	
}


li{
	list-style: none;
	
}

ul{
	display: flex;
	justify-content: space-around;
	background-color:brown;
	height: 50px;
	
}

li a{
	text-decoration: none;
	color:white;
	line-height:50px;
}
 

marquee a {
	text-decoration: none;
	
}
#address{
	background-color:black;
    color:white;
	font-size: 20px;
	
}







